
<div id="brick">

<div id="header">
<h1>Virtual
  <span class="c">C</span>
  <span class="l">L</span>
  <span class="o">O</span>
  <span class="s">S</span>
  <span class="e">E</span>
  <span class="t">T</span>
</h1>
</div>

<h2 id="login">Login here</h2>

<div id="loginForm">
<form action="/users/login" method="POST">
  <input class="textbox" name="email" placeholder="Email"/><br />
  <input type="password" class="textbox" name="password" placeholder="password"/><br />
  <button id="loginSubmit">Submit</button>
</form>

</div>
