<div id="whiteBrick">

<h1>Welcome, New User!</h1>
<h2>Register here</h2>

<form action="/users" method="POST">
  <input name="email" placeholder="Email"/><br />
  <input name="password" placeholder="password"/><br />
  <input name="name" placeholder="name"/><br />
  <input name="image" placeholder="image"/><br />
  <button>Submit</button>
</form>

</div>
